@import "reset.css";
:focus {
    outline: medium none;
}
html * {max-height:1000000px;}
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.clear {
    clear: both;
}
img {max-width: 100%}
.container {
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;
}

.inline-block > li{
    display: inline-block;
    vertical-align: top;
}

input[type="submit"] {
    -webkit-appearance: button;
    border-radius: 0;
}

select {-webkit-appearance: none;}

.flex {display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;}

.jcsb {justify-content: space-between;}
.aic {-ms-align-items: center;
align-items: center;}
.aifs {-ms-align-items: flex-start;
align-items: flex-start;}
.aife {-ms-align-items: flex-end;
align-items: flex-end;}
.jcc {justify-content: center;}
.jcfs {justify-content: flex-start;}
.jcfe {justify-content: flex-end;}
.fdc {-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;}

.hidden {display: none;}
.menu_btn {
    background: #fff url(../images/icon_menu.svg) no-repeat;
    height: 35px;
    line-height: 32px;
    display: block;
    background-size: 100%  100%;
    cursor: pointer;
    position: absolute;
    right: 15px;
    width: 35px;
    border: none;
    top: 91px;
    z-index: 2;
    border-radius: 6px;
}

a {color: #fff;}
nav {
    font-family: 'Lato', sans-serif;
    transition: all 0.15s ease-in-out;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-right: 29px;
}

nav a:last-child {margin-right: 0;}

h1 {
    font-size: 68px;
    line-height: 78px;
    /* or 115% */
    letter-spacing: 0.01em;
    margin-top: 71px;
    width: 909px;
    margin-bottom: 40px;
}
body {
    font-family: 'Playfair Display', serif;
    background: #0F0F0F;
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.header {padding-top: 20px;position: absolute;top: 0;width: 100%;left: 0;z-index: 11;}
.header__logo {margin-right: 40px;}

.header_btns a {width: 60px;height: 60px;background: rgba(255, 255, 255, 0.04);display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;justify-content: center;-ms-align-items: center;
align-items: center;}

.header_btns a{margin-right: 4px;transition: all 0.16s ease-in-out;}
.header_btns a:hover {background: rgba(255, 255, 255, 0.16);}
.header_btns a:last-child{margin-right: 0;}

.icon_favorite {width: 24px;height: 24px;background: url('../images/icon_favorite.svg');display: block;}
.icon_search {width: 24px;height: 24px;background: url('../images/icon_search.svg');}
.icon_basket {width: 24px;height: 24px;background: url('../images/icon_basket.svg') no-repeat center;background-size: 100%;display: block;}
.card__bottom .add_to_basket .icon_basket {background: url('../images/icon_basket_black.svg') no-repeat center;}

.promo__section {padding-top: 1px;border-bottom: 2px solid #000;}
.promo__left {
    position: relative;
        
    width: 548px;
    padding-left: 248px;
    padding-top: 152px;
    box-sizing: border-box;
}

.btn_black {
    height: 59px;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    position: relative;
    background: #0F0F0F;
    padding: 0 45px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-sizing: border-box;
}

.btn_black:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}

.btn_black:hover:before {
 background: url('../images/btn_before_black.png') no-repeat;
}
 .btn_black:hover:after {background: url('../images/btn_after_black.png') no-repeat;}


.btn_black:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 30px;
    background: url('../images/btn_before_white.png') no-repeat;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.15s ease-in-out;
}
.btn_black:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 30px;
    background: url('../images/btn_after_white.png') no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
     transition: all 0.15s ease-in-out;
}

.decor {position: absolute;left: 120px;}

.promo__left .btn_black {/* margin-left: 128px; */}
.divider {background: #404040;width: 22px;height: 1px;margin-bottom: 8px;margin-top: 8px;}

.stih {margin-top: 142px;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.02em;
}

.promo__right video {display: block;}

.btn_blue {
        font-family: 'Lato', sans-serif;
        background: #fff;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        cursor: pointer;
        box-sizing: border-box;
        border: none;
}

.promo__right .btn_blue {
    height: 80px;
    line-height: 80px;
    width: 524px;
    padding-left: 32px;
    margin-top: -80px;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: #000;
}

.promo__right .btn_blue:hover {
    background: #fff;
    color: #000;
}


.promo__right .btn_blue:hover:after {
    background: url('../images/arrow-right_black.svg');
}
.promo__right .btn_blue:after {
    content: '';
    display: block;
    background: url('../images/arrow-right_black.svg');
    width: 14px;
    height: 14px;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}
.category__img {height: 140px;}
.category {height: 180px;width: 261px;    flex-direction: column;  align-items: CENTER;}
.category__text {
    font-family: 'Lato', sans-serif;
    height: 39px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.category {border-right: 2px solid #000;}
.category:last-child {border-right: none;}

.caption {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
    height: 64px;
}
.caption span {display: inline-block;position: relative;}
.caption span:after {
    width: 46px;
    height: 9px;
    content: '';
    display: block;
    background: url('../images/caption_after.png') no-repeat center 0;
        background-size: contain;
    right: -60px;
    position: absolute;
    top: 50%;
}

.caption span:before {
    width: 46px;
    height: 9px;
    content: '';
    display: block;
    background: url('../images/caption_before.svg') no-repeat center 0;
        background-size: contain;
    left: -60px;
    position: absolute;
    top: 50%;
}


.section {margin-bottom: 80px;}
.akcii__section.section {margin-bottom: 100px;}
.items__carousel {}
.items__carousel > .slick-list > .slick-track > .slick-slide {padding: 0 2px;}
.card {width: 100%;position: relative;}
.card__top {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
}

.card:hover .card__top  {opacity: 1;}
.card__img {width: 100%;display: flex;height: 400px;justify-content: center;align-items: center;object-fit: contain;background: #000;}
.card__img img {object-fit: contain;}
.card__bottom {
    
}
.card__bottom { font-family: 'Lato', sans-serif;}

.slick-arrow {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.08);
    mix-blend-mode: normal;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    z-index: 2;
}
.slick-prev:before {
    content: '';
    
}
.slick-next:before {
    content: '';
}
.slick-prev {
        left: 2px;
        background:  rgba(255, 255, 255, 0.08) url('../images/icon_prev.svg') no-repeat center;
}
.slick-next {
        right: 2px;
        background:  rgba(255, 255, 255, 0.08) url('../images/icon_next.svg') no-repeat center;
}

.card__bottom {
    padding-left: 29px;
    padding-top: 17px;
    box-sizing: border-box;
    height: 92px;
    background: linear-gradient(90deg, #121212 0%, #000000 100%);
    width: 100%;
    position: relative;
    padding-right: 107px;
}

.card__bottom p {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.035em;
    text-overflow: ellipsis;
    white-space: nowrap; /* ÃƒÆ’Ã‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬ÂÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â°ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¿ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚ÂµÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â°ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚ÂµÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¿ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚ÂµÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚ÂµÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â½ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚Â ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Âº */
    overflow: hidden;
}

.card__price {
    margin-top: 8px;
}

.card__price_new {
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
    margin-right: 8px;
    letter-spacing: 0.035em;
}

.card__price_old {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #404040;
    letter-spacing: 0.035em;
}

.card a {text-decoration: none}
.card:hover .card__bottom .add_to_basket {display: flex;}
.add_to_basket {height: 92px;width: 92px;}
.add_to_basket span {width: 30px;height: 30px;}
.card__bottom .add_to_basket {position: absolute;right: 0;top: 0;display: flex;align-items: center;justify-content: center;display: none;}

.see_more {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    padding-bottom: 12px;
    border-bottom: 1px solid #404040;
    transition: all 0.15s ease-in-out;
}

.items__carousel {margin-bottom: 40px;}

.see_more:hover {border-bottom: 1px solid transparent;}

.order__section {border-bottom: 2px solid #000;border-top: 2px solid #000;padding-top: 100px;padding-bottom: 100px;}

.order {
    margin-top: 100px;
}
.order__caption {
    margin-top: 14px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 21px;
}

.order__caption + p {font-family: 'Lato', sans-serif;margin-bottom: 40px;font-size: 16px;line-height: 19px;letter-spacing: 0.3px;}
.recommend__main {padding-top: 80px;margin-top: 100px;}

footer {
    font-family: 'Lato', sans-serif;
    background: #161616;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 65px;
}

.no-wrap {
    flex-wrap: nowrap;
}

footer a{text-decoration: none}

.footer__contacts a {
    font-weight: 600;
font-size: 20px;
line-height: 24px;
display: block;
text-align: right;
margin-bottom: 12px;
}

.footer__left {margin-right: 101px;}
.footer__nav {margin-right: 101px;}
.footer__nav a, .footer__info p {
    font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
margin-bottom: 8px;
display: block;
color: #777777;
}

footer p {
    font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #777777;
}

.footer__info{margin-bottom: 30px;}
.footer__info:last-child, .footer__info p {margin-bottom: 0;}
footer h3 {
    font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-transform: uppercase;
margin-bottom: 16px;
}

.footer__info {max-width: 435px}
.footer__social {margin-top: 28px;}
.footer__social a {
    width: 40px;
    height: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background: #1D1D1D;
    margin-left: 15px;
}

.copyright {}

.menu_btn {display: none;}
.visible-xs {display: none;}

.popup__wrapper {display: none;background: rgba(0, 0, 0, 0.3);width: 100%;height: 100%;position: fixed;left: 0;right: 0;top: 0;bottom: 0;    z-index: 11;}
.popup__close {
    border:  none;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 60px;
    background: url(../images/icon_close.svg) no-repeat center;
    cursor: pointer;
}
.popup {position: absolute;z-index: 111;}
.popup__search {right: 0;left: 0;top: 0;width: 100%;background: #0F0F0F;}
.submit__search {background: url('../images/icon_search.svg');width: 24px;height: 24px;border: none;cursor: pointer;margin-right: 20px;}
.input__search {background: transparent;border: none;width: 30%;font-weight: normal;font-size: 16px;line-height: 19px;color: #9F9F9F;}
.popup__form {height: 104px;}
.popup__form form {width: 100%;}

.catalog__menu {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.catalog__menu a {text-decoration: none;transition: all 0.15s ease-in-out;}

.catalog__menu > ul > li > a {opacity: 0.2;}

.catalog__header h2 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.01em;
    margin-right: 32px;
    margin-bottom: 8px;
}

.header.inside {position: static;padding-top: 39px;margin-bottom: 43px;}

.catalog__menu > ul > li {margin-right: 16px;transition: all 0.15s ease-in-out;}

.catalog__menu li.hassub {padding-right: 32px;position: relative;border-bottom: 12px solid #0f0f0f;transition: all 0.15s ease-in-out;}
.catalog__menu li.hassub:after {
    content: '';
    background: url('../images/arrow_down.svg') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 3px;
    opacity: 0.2;
    transform: rotate(0deg);
    transition: all 0.15s ease-in-out;
}



.catalog__submenu {
    position: absolute;
    background: #272727;
    width: 320px;
    left: 0;
    padding: 12px 0px;
    height: 384px;
    z-index: 2;
    top: 36px;
    overflow-y:  scroll;
    display: none;
}

.catalog__submenu ul li a {
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: block;
    font-family: 'Lato', sans-serif;
}

.catalog__submenu ul li a:hover {
    background: rgba(255, 255, 255, 0.04);
}

.catalog__submenu::-webkit-scrollbar {
    width: 4px;
    background: rgba(255, 255, 255, 0.04);
}
.catalog__submenu::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.16);
}
.catalog__submenu::-webkit-scrollbar-track {
    background: transparent;
}

.header.inside nav a {opacity: 0.2}
nav a.active, .header.inside nav a.active {opacity: 1;} 

.catalog__filters a {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.02em;
    opacity: 0.2;text-decoration: none;
    line-height: 24px;
    margin-left: 12px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 2px;
    padding-right: 2px;
        box-sizing: border-box;
}

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.catalog .card {margin-bottom: 4px;}
.catalog__list {
        margin-top: 53px;
}
.d-none {display: none;}
.pagination {margin-top: 80px;margin-bottom: 80px;}
.pagination a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.02em;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.pagination a.active {
    color: #393939;
    pointer-events: none;
}

.pagination__btn {
    width: 60px;
    height: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: #325F96;
}

.d-none {display: none;}

.catalog__menu li.hassub.active .catalog__submenu {display: block;}
.catalog__menu > ul > li.active > a, .catalog__menu li.hassub.active:after {opacity: 1;}
.catalog__menu li.hassub.active:after {  transform: rotate(180deg);}

@media  (min-width: 1200px) {
    .promo__right_video {height: 620px;    object-fit: cover;}
    .catalog__menu li.hassub:hover .catalog__submenu {display: block;}
    .catalog__menu > ul > li:hover > a, .catalog__menu li.hassub:hover:after {opacity: 1;}
    .catalog__menu li.hassub:hover:after {  transform: rotate(180deg);}
}

@media  (min-width: 1200px) and (max-width: 1599px) {
    .promo__left { padding-left: 195px;}
    .catalog__list { margin-top: 20px;}
    .catalog__filters {margin-top: 20px;}
}
@media (max-width: 1600px) {
    .promo__right {width: 65.75%;}
    .promo__left {width: 34.25%;} 
    .category {width: 24%;}
}
@media (max-width: 1170px) {
    .container {width: 100%;padding: 0 15px;}
}
@media (min-width: 1024px) and (max-width: 1199px){
    .promo__right {width: 100%;}
    .hidden-md {display: none  !important;}
    .visible-md {display: block !important;}
    h1 {width: 100%;    position: relative;}
    .img_mobile {
        left: 19%;
        top: 20%;
        position: absolute;
        max-width: 74%;
        z-index: 0;
    }
    .category {width: 24%;}
    .promo__left {width: 100%;padding-bottom: 50px;    padding-left: 48px;}
    .stih {position: relative}
    nav a {    margin-right: 20px;}
    .catalog__filters {margin-top: 20px;}
    .catalog__list { margin-top: 20px;}
}
@media (min-width: 768px) and (max-width: 1023px){
   .promo__right > img {display: none;}

}
@media (max-width: 1023px) {
    .promo__right {width: 100%;}
    .header_btns a {width: 50px;height: 50px;}
    h1 {width: 100%;    font-size: 42px; line-height: 48px;max-width: 70%;    position: relative;}
    .promo__left {width: 100%;padding-left: 52px;padding-top: 100px;    padding-bottom: 65px;}
    footer .no-wrap {flex-wrap: wrap;    flex-direction: column;}
    .promo__right .btn_blue {width: 100%;margin-top: 0;}
    .decor {left: 8px;    height: 80%;}
    nav {
        left: -100%;
         position: fixed;
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.9);
    height: 100vh;
    z-index: 22222222;
    top: 0;
    padding: 40px 15px;   box-sizing: border-box;
    }
    nav.opened {
        left: 0;
       }
    .caption {    font-size: 32px;     line-height: 36px;height: auto;}
    .header__logo {width: 120px;margin-right: 0;}
    .stih {position: relative;
    margin-top: 85px;
    font-size: 12px;
    line-height: 22px;}
    .order__caption {
        font-size: 36px;
        line-height: 48px;
    }
    .caption span:after {}
    .category {border-bottom: 2px solid #000;border-right: none;     width: 49.7%;padding-bottom: 10px;}
    .category:nth-child(2n+1) {border-right: 2px solid #000;}
    .promo__section {border-bottom: none;}
    .recommend .caption span:after, .recommend .caption span:before {display: none;}
    .footer__contacts a  {text-align: left;}
    .footer__right {margin-top: 20px;}
    .footer__center {    flex-direction: column;}
    .footer__left {margin-bottom: 20px;}
    .footer__nav {margin-bottom: 20px;}
    .footer__social a {    margin-left: 0;margin-right: 15px;}
    .footer__social.jcfe {justify-content: flex-start;margin-bottom: 20px;}
    .card__top {opacity: 1;}
    .card__bottom .add_to_basket {display: flex;}
    .menu_btn {display: block;}
    .order__caption + p {text-align: center}
    .recommend {
        padding-top: 40px;
        margin-top: 50px;
    }
    .order__section {    padding-top: 50px;  padding-bottom: 50px;}
    .akcii__section.section {  margin-bottom: 50px;}
    .order { margin-top: 50px;}
    .visible-xs {display: block;}
    .hidden-xs {display: none !important;}
    .img_mobile {
            position: absolute;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    }
    nav a {margin-bottom: 20px;    font-size: 17px; display: block;    line-height: 24px;}
    nav .popup__close {right: 20px;top: 20px;}
    .popup__close {right: 15px;}
    .input__search {    width: 76%;}
    .header.inside {padding-top: 20px;}
    .catalog__menu li.hassub > a {pointer-events: none}
    .catalog__list, .catalog__filters { margin-top: 10px;}
    .catalog__list .col-3 + .col-3 + .col-3 +.col-3 + .col-3 {display: none;}
    .catalog__header {
        flex-direction: column;
        align-items: flex-start;
    }
    .fdc_mobile {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .col-3 {flex: 0 500%;max-width: 50%}
    .fdc_mobile.aife {align-items: flex-start}
    .catalog__menu {font-size: 19px;    margin-top: 10px;}
}


@media (max-width: 767px) {
    .col-3 {flex: 0 100%;max-width: 100%}
    .catalog__menu > .flex {-webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;}
}